<a href="https://colab.research.google.com/github/xsuryanshx/DSML-Projects/blob/main/Churn%20Prediction%20KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import matplotlib.pyplot as plt
from matplotlib.pyplot import style
from sklearn import preprocessing,neighbors
from sklearn import datasets, neighbors
from mlxtend.plotting import plot_decision_regions
from sklearn.model_selection import cross_validate,train_test_split
import random
from math import sqrt
from collections import Counter

In [ ]:
with open('/content/churn-bigml-80.csv','r') as f:
  ds = pd.read_csv(f)
  ds = pd.DataFrame(ds)
  ds['Target'] = ds.apply(lambda x : int(x['Churn']), axis = 1)
  ds = ds.drop(columns=['Churn','State','International plan','Voice mail plan'])
ds

      Account length  Area code  ...  Customer service calls  Target
0                128        415  ...                       1       0
1                107        415  ...                       1       0
2                137        415  ...                       0       0
3                 84        408  ...                       2       0
4                 75        415  ...                       3       0
...              ...        ...  ...                     ...     ...
2661              79        415  ...                       2       0
2662             192        415  ...                       2       0
2663              68        415  ...                       3       0
2664              28        510  ...                       2       0
2665              74        415  ...                       0       0

[2666 rows x 17 columns]

In [ ]:
x = np.array(ds.drop(["Target"],1))
y = np.array(ds["Target"])

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

clf=neighbors.KNeighborsClassifier()

clf.fit(x_train,y_train)

accuracy=clf.score(x_test,y_test)
print(accuracy)

0.8782771535580525

In [ ]:
predict = clf.predict(x_test)

In [ ]:
check = []
for i in range(len(y_test)):
  if y_test[i] == predict[i]:
    check.append('Correct')
  else:
    check.append('Incorrect')

In [ ]:
df = pd.DataFrame({'test dataset':y_test, 'prediction':predict,'check':check})
df

     test dataset  prediction      check
0               1           0  Incorrect
1               0           0    Correct
2               0           0    Correct
3               0           0    Correct
4               0           0    Correct
..            ...         ...        ...
529             1           0  Incorrect
530             0           0    Correct
531             0           0    Correct
532             0           0    Correct
533             0           0    Correct

[534 rows x 3 columns]